@model codecampster.ViewModels.Session.SessionViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Level" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Level" asp-items="@((System.Collections.Generic.IEnumerable<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>)ViewData["Level"])" class="form-control"></select>
                <span asp-validation-for="Level" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Keywords" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Keywords" class="form-control" />
                <span asp-validation-for="Keywords" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CoSpeakers" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CoSpeakers" class="form-control" />
                <span asp-validation-for="CoSpeakers" class="text-danger" />
            </div>
        </div>
        <!-- Capture the ReferringUrl.  This is passed back to the controller
         so the controller can return to the invoking page. -->
        <input type="hidden" asp-for="ReferringUrl" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-controller="Sessions" asp-action="ReturnToCaller" asp-route-referringUrl=@Model.ReferringUrl><span class="btn btn-default">Cancel</span></a><br />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
