@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right" style="margin-right:8%">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right" style="margin-right:8%">
        @*<li><a asp-controller="Account" asp-action="Register" asp-route-id="attendee">Signup as an attendee</a></li>*@
        <li><a asp-controller="Account" asp-action="Register" asp-route-id="speaker">Signup as a speaker</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
