@model codecampster.Models.Event
@{
    ViewData["Title"] = "Event Info";
}
<h2>@ViewData["Title"].</h2>

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
@if (User.IsInRole("administrator"))
{
    <div>
        <p>
            <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
        </p>
    </div>

}
<address>
    <strong>Email:</strong> <a href="mailto:board@onetug.org">board@onetug.org</a>
</address>
<address>
    @string.Format("{0} to {1}", Model.EventStart, Model.EventEnd)
</address>
<address>
    <strong>Location:</strong> @Model.CompleteAddress
</address>

    <div id="map"></div>
    <script>
      var map;
      function initMap() {
      $("#map").height($(document).height()*0.6);

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 28, lng: -81},
          zoom: 15
        });
        var address = '100 Weldon Blvd, Sanford FL 32746';
          var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                }
            });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@(ViewBag.Key)&callback=initMap"
    async defer></script>
