@{
    ViewData["Title"] = "Location";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    OUniversity Partnership Building, Seminole State College (Sanford)<br />
    100 Weldon Blvd, Sanford FL 32746<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:board@onetug.com">board@onetug.com</a>
</address>
