@model codecampster.Models.Sponsor

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Sponsor</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AvatarURL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AvatarURL" class="form-control" />
                <span asp-validation-for="AvatarURL" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
				<textarea asp-for="Bio" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Bio" class="text-danger" />
            </div>
        </div>
		<div class="form-group">
			<label asp-for="CompanyName" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="CompanyName" class="form-control" />
				<span asp-validation-for="CompanyName" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="SponsorLevel" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="SponsorLevel" class="form-control" />
				<span asp-validation-for="SponsorLevel" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Twitter" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Twitter" class="form-control" />
				<span asp-validation-for="Twitter" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Website" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Website" class="form-control" />
				<span asp-validation-for="Website" class="text-danger" />
			</div>
		</div>
        @*<div class="form-group">
            <label asp-for="ID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ID" class ="form-control"></select>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
