@{
    ViewData["Title"] = "F.A.Q";
}
<h2>@ViewData["Title"]</h2>
<h3>Learn more about Orlando Codecamp</h3>

<div><p>Q. When and where is Orlando Codecamp?<br />
A. The 12th Annual Orlando Codecamp will he held on April 8, 2017 at Seminole State College located at 100 Weldon Blvd, Sanford, FL 32746.</p><p>&nbsp;</p></div>

<div><p>Q. What is Orlando Codecamp?<br />
A. Orlando Codecamp is a free, one day learning event for programming professionals and students with a focus on coding, databases and related technologies, concepts and practices. This is a "grass roots" mini application platform developer conferences, free of charge to attendees and open to presenters of all stripes and experience.</p><p>&nbsp;</p></div>

<div><p>Q. Where can I find sponsorship information?<br />
A. Interested in sponsoring Codecamp? Check out the <a href="@Url.Content("~/documents/ContributorInformation.pdf")">sponsor package</a>.</p><p>&nbsp;</p></div>

<div><p>Q. How much does it cost to attend?<br />
A. Codecamp is free to attendees. Attendees will also be provided with free lunch.</p><p>&nbsp;</p></div>

<div><p>Q. Who is behind the Orlando Codecamp?<br />
A. The Orlando Codecamp is organized by the <a href="http://www.onetug.org">Orlando .NET User Group</a>.</p><p>&nbsp;</p></div>

<div><p>Q. Who can attend?<br />
A. Anyone interested in the <a asp-controller="Sessions" asp-action="Index">sessions</a> can <a asp-controller="Account" asp-action="Register">register</a> to attend</a>. Attendees can signup until the day before Codecamp.</p><p>&nbsp;</p></div>

<div><p>Q. How does speaker approval process work?<br />
A. Individual with expertise in any area/technology may signup to speak. We welcome speakers of all experience levels including first time speakers. A speaker may submit multiple sessions but we usually only approve one session per speaker. Approved speakers are notified by email. If for some reason, speakers are unable to fulfil their committment we ask that you contact us immediately at <a href="mailto:community@onetug.org">community@onetug.org</a>.</p><p>&nbsp;</p></div>

<div><p>Q. Do you provide room and boarding?<br />
A. Codecamp is a voluntary event with the meals/refreshments paid by sponsors. We do not pay for room and boarding for our attendees or speakers.</p><p>&nbsp;</p></div>

<div><p>Q. Do you have any special hotel deals for out-of-town attendees/speakers?<br />
A. Coming soon...</p></div>
