@{
    ViewData["Title"] = "Spread the Word";
}
<h2>@ViewData["Title"]</h2>

<div>
    <p>
        Are you excited about the upcoming 2018 Orlando Code Camp on March 17?
        Help us spread the word about the event or show you involvement.
    </p>
</div>

<div class="page-header"></div>
<div>
    <p>
        <h4>
            <a href="#TellYourFriends">Attendees - Tell You Friends and Colleagues to Sign-up</a>
        </h4>
        Are you an attendee? Help us spread the word to your friends and colleagues.
    </p>
</div>

<div>
    <p>
        <h4>
            <a href="#TellYourAudience">Speakers - Tell Your Audience About Your Talk</a>
        </h4>
        Are you an speaker? Help us spread the word about your talk.
    </p>
</div>

<div>
    <p>
        <h4>
            <a href="#TellTheCommunity">Sponsors - Tell The Community You Contributed</a>
        </h4>
        Are you an sponsor? Share your support with the community.
    </p>
</div>

<div>
    <p>
        <h4>
            <a href="#TellYourMembers">User Groups - Tell Your Members to Sign-up</a>
        </h4>
        Do you run a user group? Help us spread the word to your members.
    </p>
</div>

<div id="TellYourFriends" class="page-header"></div>
<h3>Attendees - Tell You Friends and Colleagues to Sign-up</h3>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a imperdiet quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id tempus arcu. Ut ornare massa a nulla eleifend tincidunt. Nam elementum ultrices velit, quis pulvinar est laoreet sed. Curabitur viverra iaculis ante, sed laoreet diam. Ut rhoncus fringilla nisi et sodales. Aenean et libero lectus. Fusce eu semper quam. Nulla facilisi. Pellentesque consectetur quam sit amet urna imperdiet, id ornare leo pharetra. Etiam sit amet massa neque. Curabitur venenatis, felis id pharetra sollicitudin, massa mauris varius nulla, nec malesuada libero risus et lorem.
    </p>
</div>

<div id="TellYourAudience" class="page-header"></div>
<h3>Speakers - Tell Your Audience About Your Talk</h3>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a imperdiet quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id tempus arcu. Ut ornare massa a nulla eleifend tincidunt. Nam elementum ultrices velit, quis pulvinar est laoreet sed. Curabitur viverra iaculis ante, sed laoreet diam. Ut rhoncus fringilla nisi et sodales. Aenean et libero lectus. Fusce eu semper quam. Nulla facilisi. Pellentesque consectetur quam sit amet urna imperdiet, id ornare leo pharetra. Etiam sit amet massa neque. Curabitur venenatis, felis id pharetra sollicitudin, massa mauris varius nulla, nec malesuada libero risus et lorem.
    </p>
</div>

<div id="TellTheCommunity" class="page-header"></div>
<h3>Sponsors - Tell The Community You Contributed</h3>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a imperdiet quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id tempus arcu. Ut ornare massa a nulla eleifend tincidunt. Nam elementum ultrices velit, quis pulvinar est laoreet sed. Curabitur viverra iaculis ante, sed laoreet diam. Ut rhoncus fringilla nisi et sodales. Aenean et libero lectus. Fusce eu semper quam. Nulla facilisi. Pellentesque consectetur quam sit amet urna imperdiet, id ornare leo pharetra. Etiam sit amet massa neque. Curabitur venenatis, felis id pharetra sollicitudin, massa mauris varius nulla, nec malesuada libero risus et lorem.
    </p>
</div>

<div id="TellYourMembers" class="page-header"></div>
<h3>User Groups - Tell Your Members to Sign-up</h3>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a imperdiet quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id tempus arcu. Ut ornare massa a nulla eleifend tincidunt. Nam elementum ultrices velit, quis pulvinar est laoreet sed. Curabitur viverra iaculis ante, sed laoreet diam. Ut rhoncus fringilla nisi et sodales. Aenean et libero lectus. Fusce eu semper quam. Nulla facilisi. Pellentesque consectetur quam sit amet urna imperdiet, id ornare leo pharetra. Etiam sit amet massa neque. Curabitur venenatis, felis id pharetra sollicitudin, massa mauris varius nulla, nec malesuada libero risus et lorem.
    </p>
</div>
