@{ ViewData["Title"] = "Spread the Word"; }
<h2>@ViewData["Title"]</h2>

<style>
    .image_to_copy {
        text-align: center;
        margin: 1em 0;
    }

    .text_to_copy {
        border: 1px solid #999;
        max-height: 400px;
        /*max-width: 90%;*/
        margin: 1em 0;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 1em;
    }

    a.section-link {
        font-size: 18pt;
    }

    div.section-break {
        border-top: 1px solid #eee;
        line-height: 3;
        /*padding: 1ex 0;*/
    }

    body {
        line-height: 2;
    }

    /*h3 {
        margin: 0;
    }*/

    button, p {
        line-height: 1.42857143;
        margin: 1ex 0;
    }

    img {
        border: 1px solid #999;
        max-height: 400px;
        max-width: 100%;
    }
</style>

<div>
    <p>
        Are you excited about the upcoming 2018 Orlando Code Camp on March 17?&ensp;
        Help us spread the word about the event or show you involvement.
    </p>
</div>

<!-- ################################################################################# -->

<div class="section-break">
    <div>
        <p>
            <a class="section-link" href="#TellYourFriends">
                Attendees - Tell You Friends and Colleagues to Sign-up
            </a>
        </p>
    </div>

    <div>
        <p>
            <a class="section-link" href="#TellYourAudience">
                Speakers - Tell Your Audience About Your Talk
            </a>
        </p>
    </div>

    <div>
        <p>
            <a class="section-link" href="#TellTheCommunity">
                Sponsors - Tell The Community You Contributed
            </a>
        </p>
    </div>

    <div>
        <p>
            <a class="section-link" href="#TellYourMembers">
                User Groups - Tell Your Members to Sign-up
            </a>
        </p>
    </div>

    <div>
        <p>
            <a class="section-link" href="#EventLogos">
                Event Logos
            </a>
        </p>
    </div>
</div>

<!-- ################################################################################# -->

<div id="TellYourFriends" class="section-break">
    <h3>Attendees - Tell You Friends and Colleagues to Sign-up</h3>
</div>

<div>
    <p>
        Are you an attendee?&ensp;
        Help us spread the word to your friends and colleagues:
    </p>
</div>

<div>
    <button class="btn btn-primary" onclick="copy('#FriendLetter')">
        <span class="glyphicon glyphicon-paste"></span>&ensp;Copy the message below
    </button>
</div>

<div id="FriendLetter" class="text_to_copy">
    <p>
        Hi <i>{Recipient}</i>,
    </p>
    <p>
        Maecenas accumsan pellentesque mi laoreet mollis. Sed vitae pretium sapien, et dignissim
        leo. Pellentesque non rhoncus leo. Curabitur ac erat fringilla, interdum leo at, placerat
        nisl. Maecenas blandit odio in metus consequat convallis. Sed ultricies, sem et venenatis
        pellentesque, justo leo feugiat metus, et consequat augue sem eget velit. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer
        tellus felis, auctor a dui eu, ullamcorper facilisis odio.
    </p>
    <p>
        Maecenas accumsan pellentesque mi laoreet mollis. Sed vitae pretium sapien, et dignissim
        leo. Pellentesque non rhoncus leo. Curabitur ac erat fringilla, interdum leo at, placerat
        nisl. Maecenas blandit odio in metus consequat convallis. Sed ultricies, sem et venenatis
        pellentesque, justo leo feugiat metus, et consequat augue sem eget velit. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer
        tellus felis, auctor a dui eu, ullamcorper facilisis odio.
    </p>
    <p>
        Maecenas accumsan pellentesque mi laoreet mollis. Sed vitae pretium sapien, et dignissim
        leo. Pellentesque non rhoncus leo. Curabitur ac erat fringilla, interdum leo at, placerat
        nisl. Maecenas blandit odio in metus consequat convallis. Sed ultricies, sem et venenatis
        pellentesque, justo leo feugiat metus, et consequat augue sem eget velit. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer
        tellus felis, auctor a dui eu, ullamcorper facilisis odio.
    </p>
    <p>
        Maecenas accumsan pellentesque mi laoreet mollis. Sed vitae pretium sapien, et dignissim
        leo. Pellentesque non rhoncus leo. Curabitur ac erat fringilla, interdum leo at, placerat
        nisl. Maecenas blandit odio in metus consequat convallis. Sed ultricies, sem et venenatis
        pellentesque, justo leo feugiat metus, et consequat augue sem eget velit. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer
        tellus felis, auctor a dui eu, ullamcorper facilisis odio.
    </p>
</div>

<!-- ################################################################################# -->

<div id="TellYourAudience" class="section-break">
    <h3>Speakers - Tell Your Audience About Your Talk</h3>
</div>

<div>
    <p>
        Are you an speaker?&ensp;
        Help us spread the word about your talk:
    </p>
</div>

<!-- TODO Fix copy functionality to work with images or use different function -->
<div>
    <button class="btn btn-primary" onclick="copy('#ComeSeeMeImage')">
        <span class="glyphicon glyphicon-paste"></span>&ensp;Copy the image below
    </button>
</div>

<div id="ComeSeeMeImage" class="image_to_copy">
    <img src="/images/2018CodeCamp-MeetMe-2600x1022.png"
         alt="Come See Me at Orlando Code Camp 2018">
</div>

<div>
    <button class="btn btn-primary" onclick="copy('#AudienceLetter')">
        <span class="glyphicon glyphicon-paste"></span>&ensp;Copy the message below
    </button>
</div>

<div id="AudienceLetter" class="text_to_copy">
    <p>
        Maecenas accumsan pellentesque mi laoreet mollis. Sed vitae pretium sapien, et dignissim
        leo. Pellentesque non rhoncus leo. Curabitur ac erat fringilla, interdum leo at, placerat
        nisl. Maecenas blandit odio in metus consequat convallis. Sed ultricies, sem et venenatis
        pellentesque, justo leo feugiat metus, et consequat augue sem eget velit. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer
        tellus felis, auctor a dui eu, ullamcorper facilisis odio.
    </p>
</div>

<!-- ################################################################################# -->

<div id="TellTheCommunity" class="section-break">
    <h3>Sponsors - Tell The Community You Contributed</h3>
</div>

<div>
    <p>
        Are you an sponsor?&ensp;
        Share your support with the community:
    </p>
</div>

<!-- TODO Fix copy functionality to work with images or use different function -->
<div>
    <button class="btn btn-primary" onclick="copy('#ComeSeeUsImage')">
        <span class="glyphicon glyphicon-paste"></span>&ensp;Copy the image below
    </button>
</div>

<div id="ComeSeeUsImage" class="image_to_copy">
    <img src="/images/2018CodeCamp-MeetUs-2600x1022.png"
         alt="Come See Us at Orlando Code Camp 2018">
</div>

<div>
    <p>
        <button class="btn btn-primary" onclick="copy('#CommunityLetter')">
            <span class="glyphicon glyphicon-paste"></span>&ensp;Copy the message below
        </button>
    </p>
</div>

<div id="CommunityLetter" class="text_to_copy">
    <p>
        Mauris mollis, nisl id pharetra sollicitudin, nisl felis laoreet mi, sed viverra odio ipsum
        eget ipsum. Nulla vestibulum, mauris et pretium congue, ante quam facilisis eros, vel mollis
        eros ligula non est. Praesent at leo vel ante vehicula viverra ut vitae mi. Suspendisse
        eleifend, augue euismod varius maximus, nulla urna egestas nulla, a ultricies velit nulla
        sit amet mi. Nam mattis, sem ac commodo ultricies, metus nisl ultrices nibh, eget auctor
        eros nunc at mi. Ut rhoncus vestibulum ligula, vel blandit nulla venenatis eget. Vestibulum
        in dolor tortor. Morbi arcu justo, ullamcorper id blandit a, rhoncus id tellus. Duis
        consequat nulla eget ex egestas aliquet. Suspendisse posuere et risus non ornare. Vestibulum
        euismod iaculis finibus. Quisque hendrerit est vitae odio interdum placerat. Donec commodo
        quis magna quis rhoncus. Maecenas luctus elit et aliquam mattis. Duis malesuada hendrerit
        convallis. Vestibulum non facilisis urna, a convallis erat.
    </p>
</div>

<!-- ################################################################################# -->

<div id="TellYourMembers" class="section-break">
    <h3>User Groups - Tell Your Members to Sign-up</h3>
</div>

<div>
    <p>
        Do you run a user group?&ensp;
        Help us spread the word to your members:
    </p>
</div>

<div>
    <button class="btn btn-primary" onclick="copy('#MembersLetter')">
        <span class="glyphicon glyphicon-paste"></span>&ensp;Copy the message below
    </button>
</div>

<div id="MembersLetter" class="text_to_copy">
    <p>
        Ut pulvinar ante eu sem laoreet faucibus. Vestibulum efficitur aliquet facilisis. Vestibulum
        facilisis tellus scelerisque tristique tempus. Mauris quis nulla vulputate, bibendum sem in,
        finibus justo. Nunc lorem massa, semper eget pulvinar sed, consequat nec nibh. Proin vel
        urna ac libero ultricies placerat eget sed odio. Nulla varius ex tortor, ac congue elit
        pretium sit amet.
    </p>
</div>

<!-- ################################################################################# -->

<div id="EventLogos" class="section-break">
    <h3>Event Logos</h3>
</div>

<div>
    <p>
        Need a high-resolution logo for printed materials or swag?&ensp;
        If so, check with us first by sending an email to
        <a href="mailto:board@onetug.org">board@onetug.org</a> 
        and then grab our logo here:
    </p>
</div>

<!-- TODO Fix copy functionality to work with images or use different function -->
<div>
    <button class="btn btn-primary" onclick="copy('#EventLogo2600x1022')">
        <span class="glyphicon glyphicon-paste"></span>&ensp;Copy the image below
    </button>
</div>

<div id="EventLogo2600x1022" class="image_to_copy">
    <img src="/images/2018CodeCamp-Event-2600x1022.png"
         alt="Orlando Code Camp 2018 Logo">
</div>
